body {
    min-height: 100%;
    /*background: #1fc8db;*/
    /*background-image: url(../img/background.jpg);*/
    /*background-image: radial-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-repeat:no-repeat;*/
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
}

#formulario {
    display: none;
    width: 80%;
    margin: 5% auto;
    padding: 40px;
    background: rgba(255,255,255, .9);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.form-group {
    font-size: 20px;
}

.form-group label {
    color: dodgerblue;
    text-align: left;
}


